<%= form_for @wiki do |form| %>

 <%= form.label :title %>
 <%= form.text_area :title, rows: 2, class: 'form-control', placeholder: "Enter post body" %>

 <%= form.label :body %>
 <%= form.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter post body" %>

   <% if current_user.role == 'administrator' || current_user.role == 'premium' %>
    <div class="form-group">
      <%= form.label :private %>
      <%= form.check_box :private %> Private wiki
    </div>
  <% end %>


  </br>
   <%= form.submit 'Save' %>
<% end %> 


