<div class="well">
  <p>Title: <%= @wiki.title %></b></p>
  <p>Body: <%= @wiki.body %></b></p>
</div>
<% if policy(@wiki).edit? %>
<%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
<% end %>

<div>
  <%= form_for @wiki do |f| %>

    <% @users.each do |user| %>
    <%= f.check_box :user_ids, value: user.id %>
    <p> <%= user.email %> </p>

    <% end %>
  <% end %>

</div>